* {
    box-sizing: border-box;
    
  }
  
.logo img{
	float:	left;
	width:	200px;
	height:	47px;
  transform: translate(2%,-3%);
   position: absolute;

}

/* pour navbar  */
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    overflow: hidden;
    background-color: #000000;
    
    
  }
  
  li {
    float: right;
    right: 10%;
    transform: translate(-10%);
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.8s ease;
    transform: 3D;
  }
  
  li a:hover {
    background-color: #7573b6;
    color: white;
    
  }


  body {
    font-family: 'Playfair Display';
    background: #babeee;
    margin: 0px;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: white;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #babeee;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    width: 100%;
    padding: 10px;
    position: center;
    margin-bottom: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  button{
  
    z-index: 99;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    background: linear-gradient(45deg, #7e51b9, #8093F1);
    border-radius: 20px;
    color: #FFF;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
  margin-top: 0px;
}
