body{
    background-image: linear-gradient(rgba(157, 123, 185, 0.705),rgba(124, 212, 208, 0.856)), url(../images/cover1.jpg);
    background-size: cover;
	background-position:center;
    height: 110vh;  
    font-family: 'Playfair Display';
}

.logo img{
	float:	left;
	width:	200px;
	height:	47px;
  transform: translate(2%,70%);
   position: absolute;

}
.menu ul {
        float: right;
        list-style-type: none;
        margin: 25px;
        right: 30%;
        transform: translate(-30%);    
    
}

.menu ul li {
        padding: 10px;
        
        display: inline-flex;
    
    
}

.menu ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.966);
    border: 1px transparent;
    transition: 0.8s ease;
    transform: 3D;
    padding: 5px 10px ;
    font-size: 16px;
    font-weight: bold;
}

.menu ul li a:hover{
    background-color:#7573b6;
    color: rgb(216, 215, 223);
    padding: 10px;
    margin: 5px;
}

.menu ul li.active a{
    background-color:#7573b6; 
    color: rgb(236, 232, 236);
    padding: 10px;
    margin: 5px;
}

.title{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(20%,-50%);
    
}
.title h1{
    color: black;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}

.card-group{
    display: flex;
    position: relative;
    top: 40%;
    left: 32%;
    transform: translate(-25%,5%);
   
}

.card {
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s ;
    width: 50%;
    height: 20vh;
    /*position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-50%,200%);*/
    margin: 20px;
  }
  
  .card:hover {
    box-shadow: 0 10px 16px 0 black;
  }
  
  .container {
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(107, 94, 180, 0.973);
    transition: 0.3s ;
    background-color: rgba(255, 255, 255, 0.904);
    width: 290px;
    margin-bottom: 50px;
  }

  .container:hover{
    box-shadow: 0 8px 16px 0 black;
  }

  .container h4 {
      position: relative;
      left: 25%;
  }

  .container button {
    text-decoration: none;
    color: rgb(247, 247, 247);
    position: relative;
    left: 30%;
    font-weight: 700;
    border-radius: 20px;
    background-color: rgb(149, 115, 180);
    
}
.container .button:hover {
    background-color: #5f45a7;
    color: white;
  }