*{
	margin: 0;
	padding: 0;
    font-family: 'Playfair Display';
}
header{
    background-image: linear-gradient(rgba(157, 123, 185, 0.705),rgba(124, 212, 208, 0.856)), url(../images/back.jpg); 
    height : 100vh;
	background-size: cover;
	background-position:center;
}

.logo{
    float: left;
    top: 5%;
    left: 5%;
    transform: translate(5% , 5%);
    
}

.logo img {
    height: 15vh;
    width: 15vh;
}
.menu{background: black;}
.menu ul {
        float: right;
        list-style-type: none;
        margin: 25px;
    
    
}

.menu ul li {
        padding: 10px;
        
        display: inline-flex;
    
    
}

.menu ul li a {
    text-decoration: none;
    color: rgb(250, 244, 244);
    border: 1px transparent;
    transition: 0.8s ease;
    transform: 3D;
    padding: 5px 10px ;
}

.menu ul li a:hover{
    background-color:#7573b6;
    color: rgb(216, 215, 223);
    padding: 10px;
    margin: 5px;
}

.menu ul li.active a{
    background-color:#7573b6; 
    color: rgb(216, 215, 223);
    padding: 10px;
    margin: 5px;
}

.main{
    position:absolute;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: cornsilk;
    text-shadow: cyan;
   
}

.main h1{
    font-weight:900;
    position: center;
    font-family: 'Playfair Display';
    left: 12%;
    transform: translate(25%);
    font-size: 50px;
}

.main input{
    height: 30px;
    width: 500px;
}

.main input {
    background-color: rgb(224, 233, 233);
}

.main button{
    position: relative;
    background-color: black;
    height: 30px;
    width: 505px;
    color: rgb(235, 231, 226);
}

.main button:hover{
    color: rgb(228, 228, 228) ;
    background-color: #7573b6;
}

.main a{
    position: relative;
    left: 350px;
    text-decoration: none;
    color: rgb(24, 156, 173);
}

.footer{
    display: flex;
    float: left;
    top:60%;
    left: 100%;
    transform: translate(200%,-200%);
    
}
