*{
	margin: 0;
	padding: 0;
    font-family: 'Playfair Display', sans-serif;
}
header{
    background-color: #babeee;
    height : 100vh;
	background-size: cover;
	background-position:center;
    background-image: linear-gradient(rgba(157, 123, 185, 0.705),rgba(124, 212, 208, 0.856)), url(../images/back.jpg); 

    font-family: 'Playfair Display', sans-serif; 
}

.logo img{
	float:	left;
	width:	200px;
	height:	47px;
  transform: translate(2%,70%);
   position: absolute;

}
.menu{background: black;}
.menu ul {
        float: right;
        list-style-type: none;
        margin: 25px;
    
    
}

.menu ul li {
        padding: 10px;
        
        display: inline-flex;
    
    
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    border: 1px transparent;
    transition: 0.8s ease;
    transform: 3D;
    padding: 5px 10px ;
}

.menu ul li a:hover{
    background-color:#7573b6;
    color: white;
    padding: 10px;
    margin: 5px;
}

.menu ul li.active a{
    background-color:#7573b6; 
    color: white;
    padding: 10px;
    margin: 5px;
}

.main{
    position:absolute;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-shadow: black;
   
}

.main h1{
    font-weight:900;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: center;
    left: 8%;
    transform: translate(15%);
    font-size: 50px;
}

.main input{
    height: 30px;
    width: 500px;
}

.main input {
    background-color: white;
}

.main button{
    position: relative;
    background-color: black;
    height: 30px;
    width: 505px;
    color: white;
}

.main button:hover{
    color: rgb(228, 228, 228) ;
    background-color: #7573b6;
}

.main a{
    position: relative;
    left: 350px;
    text-decoration: none;
    color: black;
}



