/* pour logo*/ 


.logo img{
	float:	left;
	width:	200px;
	height:	47px;
  transform: translate(2%,-3%);
   position: absolute;

}

/* pour navbar  */
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    overflow: hidden;
    background-color: #000000;
    
    
  }
  
  li {
    float: right;
    right: 10%;
    transform: translate(-10%);
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.8s ease;
    transform: 3D;
  }
  
  li a:hover {
    background-color: #7573b6;
    color: white;
    
  }




  /* pour slides show  */

  * {box-sizing: border-box;}
body {
  font-family: 'Playfair Display', sans-serif;
  background-image: linear-gradient(rgba(157, 123, 185, 0.705),rgba(124, 212, 208, 0.856));

  
}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: auto;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: rgb(27, 25, 25);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

#imgg{
  height: 500px;
  width:100% ;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* Fin slides show */

/* pour cards  */
.card {
  width: 300px;
  height: 450px;
  overflow: hidden;
  margin: 0 auto;
}
 
.card img {
  width: 100%;
  transition: 3s all ease-in-out;
}
 
.card:hover img {
  transform: scale(1.5);
}
.card {
  box-shadow: 0 4px 8px 0  	#70acb4;
  transition: 0.3s;
  width: 15%;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #fff;
  
}
#allcards{   /* pour aligner les cards  */
  display: flex; 
  justify-content: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0  	#70acb4;
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
  text-align: center;
}

/* pour les bouttons  */

.button {
  transition-duration: 0.4s;
  width: 70px;
  height: 25px;
  border-radius: 20px;
  background-color: #7573b6;
  color: #000000;
  border: #7573b6;
  
}

.button:hover {
  background-color: #5f45a7;
  color: white;
}

/* pour les cards d'evenements  */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-left: 10px;
  margin-right: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #000000;
  color: white;
  transform: rotateY(180deg);
}

.buttonA {
  width: 200px;
  height: 25px;
  border-radius: 20px;
  background-color: #7573b6;
  border: #7573b6;
  position:absolute;
  
}

.buttonS{
  
    z-index: 99;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: black;
    border-radius: 20px;
    color: #FFF;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
  margin-top: 130px;
}

.buttonS a{
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
  margin-top: 100px;
}
/* pour lesboutons footer  de social media   */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}



.abd {
  position : relative;
  width : 1100px;
  display : flex;
  align-items : center;
  justify-content : center;
  
  padding : 30px;  
}

.abd .ca {
  position: relative;
  max-width : 300px;
  height : 215px;  
  background-color : #fff;
  margin : 30px 10px;
  padding : 20px 15px;
  
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.abd .ca:hover {
  height : 320px;    
}


.abd .ca .im {
  position : relative;
  width : 260px;
  height : 260px;
  
  top : -40%;
  left: 8px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.abd .ca .ima img {
  max-width : 100%;
  border-radius : 15px;
}

.abd .ca .content {
  position : relative;
  top : -140px;
  padding : 10px 15px;
  color : #111;
  text-align : center;
  
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
    
}

.abd .ca:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}